In [6]:
import numpy as np
import pandas as pd

In [7]:
df1=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
df2=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
df3=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
df4=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
df5=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
df6=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
df7=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
df8=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
df9=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
df10=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
df11=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
df12=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')
df13=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data13.csv')
df14=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data14.csv')
df15=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data15.csv')
df16=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data16.csv')
df17=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data17.csv')

In [11]:
df17

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Contracted from which Patient (Suspected),Notes,Source_1,Source_2,Source_3,Nationality,Type of transmission,Status Change Date,Patient Number
0,324173,NaN,09/10/2020,NaN,NaN,NaN,Dhalai,Tripura,TR,25.0,Hospitalized,NaN,NaN,https://covid19.tripura.gov.in,NaN,NaN,NaN,NaN,NaN,NaN
1,324174,NaN,09/10/2020,NaN,NaN,NaN,Gomati,Tripura,TR,25.0,Hospitalized,NaN,NaN,https://covid19.tripura.gov.in,NaN,NaN,NaN,NaN,NaN,NaN
2,324175,NaN,09/10/2020,NaN,NaN,NaN,Khowai,Tripura,TR,6.0,Hospitalized,NaN,NaN,https://covid19.tripura.gov.in,NaN,NaN,NaN,NaN,NaN,NaN
3,324176,NaN,09/10/2020,NaN,NaN,NaN,North Tripura,Tripura,TR,18.0,Hospitalized,NaN,NaN,https://covid19.tripura.gov.in,NaN,NaN,NaN,NaN,NaN,NaN
4,324177,NaN,09/10/2020,NaN,NaN,NaN,Sipahijala,Tripura,TR,12.0,Hospitalized,NaN,NaN,https://covid19.tripura.gov.in,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27281,351457,NaN,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,NL,2.0,Deceased,NaN,NaN,http://twitter.com/MyGovNagaland/status/132070...,NaN,NaN,NaN,NaN,NaN,NaN
27282,351458,NaN,26/10/2020,NaN,NaN,NaN,Mon,Nagaland,NL,4.0,Recovered,NaN,NaN,http://twitter.com/MyGovNagaland/status/132070...,NaN,NaN,NaN,NaN,NaN,NaN
27283,351459,NaN,26/10/2020,NaN,NaN,NaN,Mokokchung,Nagaland,NL,14.0,Recovered,NaN,NaN,http://twitter.com/MyGovNagaland/status/132070...,NaN,NaN,NaN,NaN,NaN,NaN
27284,351460,NaN,26/10/2020,NaN,NaN,NaN,Kohima,Nagaland,NL,20.0,Recovered,NaN,NaN,http://twitter.com/MyGovNagaland/status/132070...,NaN,NaN,NaN,NaN,NaN,NaN
27285,351461,NaN,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,NL,29.0,Recovered,NaN,NaN,http://twitter.com/MyGovNagaland/status/132070...,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27286 entries, 0 to 27285
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Entry_ID                                   27286 non-null  int64
 1   State Patient Number                       0 non-null      float64
 2   Date Announced                             27286 non-null  object
 3   Age Bracket                                763 non-null    float64
 4   Gender                                     666 non-null    object
 5   Detected City                              159 non-null    object
 6   Detected District                          26888 non-null  object
 7   Detected State                             27280 non-null  object
 8   State code                                 27280 non-null  object
 9   Num Cases                                  27279 non-null  float64
 10  Current Status                             27280 non-null  object
 11  Contracted from which Patient (Suspected)  0 non-null      float64
 12  Notes                                      387 non-null    object
 13  Source_1                                   26414 non-null  object
 14  Source_2                                   80 non-null     object
 15  Source_3                                   0 non-null      float64
 16  Nationality                                0 non-null      float64
 17  Type of transmission                       0 non-null      float64
 18  Status Change Date                         0 non-null      float64
 19  Patient Number                             0 non-null      float64
dtypes: float64(9), int64(1), object(10)
memory usage: 4.2+ MB

In [17]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [48]:
df2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [52]:
df1=df1.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df2=df2.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df3=df3.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df4=df4.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df5=df5.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df6=df6.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df7=df7.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df8=df8.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df9=df9.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df10=df10.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df11=df11.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df12=df12.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df13=df13.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df14=df14.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df15=df15.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df16=df16.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
df17=df17.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]

In [54]:
df=df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17])
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered
...,...,...,...,...,...,...,...,...
27281,2.0,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,Deceased
27282,4.0,26/10/2020,NaN,NaN,NaN,Mon,Nagaland,Recovered
27283,14.0,26/10/2020,NaN,NaN,NaN,Mokokchung,Nagaland,Recovered
27284,20.0,26/10/2020,NaN,NaN,NaN,Kohima,Nagaland,Recovered
27285,29.0,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,Recovered

In [62]:
DATE=df['Date Announced'].str.split('/',expand=True)
DATE.columns=['Day','Month','Year']
DATE

      Day Month  Year
0      30    01  2020
1      02    02  2020
2      03    02  2020
3      02    03  2020
4      02    03  2020
...    ..   ...   ...
27281  26    10  2020
27282  26    10  2020
27283  26    10  2020
27284  26    10  2020
27285  26    10  2020

[380319 rows x 3 columns]

In [63]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27281,2.0,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,Deceased,26,10,2020,26,10,2020
27282,4.0,26/10/2020,NaN,NaN,NaN,Mon,Nagaland,Recovered,26,10,2020,26,10,2020
27283,14.0,26/10/2020,NaN,NaN,NaN,Mokokchung,Nagaland,Recovered,26,10,2020,26,10,2020
27284,20.0,26/10/2020,NaN,NaN,NaN,Kohima,Nagaland,Recovered,26,10,2020,26,10,2020
27285,29.0,26/10/2020,NaN,NaN,NaN,Dimapur,Nagaland,Recovered,26,10,2020,26,10,2020

In [65]:
pwd

'C:\\Users\\Subhajit'

In [66]:
data=pd.read_csv('C:\\Users\\Subhajit\\Covid19Ind.csv')
data

C:\Users\Subhajit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,0,1.0,30-01-2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1,1.0,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,2,1.0,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,3,1.0,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,4,1.0,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380314,27281,2.0,26-10-2020,NaN,NaN,NaN,Dimapur,Nagaland,Deceased,26.0,10.0,2020.0
380315,27282,4.0,26-10-2020,NaN,NaN,NaN,Mon,Nagaland,Recovered,26.0,10.0,2020.0
380316,27283,14.0,26-10-2020,NaN,NaN,NaN,Mokokchung,Nagaland,Recovered,26.0,10.0,2020.0
380317,27284,20.0,26-10-2020,NaN,NaN,NaN,Kohima,Nagaland,Recovered,26.0,10.0,2020.0
380318,27285,29.0,26-10-2020,NaN,NaN,NaN,Dimapur,Nagaland,Recovered,26.0,10.0,2020.0